@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --background-color: #C2B280;
    --header-color: #4CAF50;
    --accent-color: #D1B61D;
}

header h1{
    text-align: center;
    margin-top: 40px;
}

body{
    font-family: "Open Sans", sans-serif;
}

#content{
    max-width: 800px;
    margin: 0 auto;
}

ul{
    list-style: none;
}

#menu-button{
    font-size: 2rem;
    padding: .5rem;
}

#menu-button::before{
    content: "≡";
}

#menu-button.open::before{
    content: "X";
}

nav ul{
    list-style: none;
    text-align: center;
    padding-inline-start: 0px;
    display: none;
}

nav ul.open{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav ul li{
    padding: 1rem;
    width: 100%;
}

nav ul li a{
    display: block;
    text-decoration: none;
}

main{
    display: grid;
    grid-template-columns: 1fr;
}

.hero img {
    align-self: center;
}


h3{
    text-align: center;
}

footer{
    text-align: center;
    background-color: var(--header-color);
    padding: 10px;
}

p{
    text-align: center;
}