@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --background-color: #CCDBDC;
    --header-color: #007EA7;
    --accent-color: #003249;
}

body{
    font-family: "Open Sans", sans-serif;
    background-color:var(--background-color)
}
#content{
    max-width: 800px;
    margin: 0 auto;
}

main{
    display: grid;
    grid-template-columns: 1fr;
}

ul{
    list-style: none;
}

header{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--header-color);
}

header img{
    height: 150px;
    margin: 20px;
}

header h1{
    text-align: center;
    margin-top: 40px;
}

#menu-button{
    background-color: inherit;
    font-size: 2rem;
    padding: .5rem;
}

#menu-button::before{
    content: "≡";
}

#menu-button.open::before{
    content: "X";
}

nav ul{
    list-style: none;
    text-align: center;
    background-color: var(--accent-color);
    padding-inline-start: 0px;
    display: none;
}

nav ul.open{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav ul li{
    padding: 1rem;
    width: 100%;
}

nav ul li a{
    display: block;
    color: white;
    text-decoration: none;
}

main h2{
    text-align: center;
}

footer{
    text-align: center;
    background-color: var(--header-color);
}

.card h3{
    background-color: var(--header-color);
    text-align: center;
}

.card{
    margin: 20px;
}

p{
    text-align: center;
}