header {
    background-color: #0077cc;
    align-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #0077cc;
}

h2 {
    background-color: #009900;
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
}

.card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
}

p {
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#lastModified {
    font-style: italic;
}