@media screen and (min-width: 800px) {
    
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around
    }

    nav ul.open{

    }

    #menu-button{
        display: none;
    }

    #cards {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .map{
        grid-column: 1/3;        
    }

}